{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
           <div class="card mb-3">
           <div class="card-body">
            <h2 class="card-title"> Inscription candidat</h2>
    <br>
        <div class="form">
            {{form(form)}}
        </div>
    </div>
    </div>

    </div>
    <br><br><br><br><br>
{% endblock %}
