{% extends 'base.html.twig' %}


{% block title %}Poster une offre
{% endblock %}

{% block body %}

    <div class="offset-lg-3 col-lg-7">
        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title">{{ pageHeading }}</h2>

                <p> {{ form_start(form) }} </p>
                <p> {{ form_widget(form) }}</p>
                <p> {{ form_end(form) }} </p>

                </div>
            </div>
         </div>
         <br> <br><br> <br> <br> <br> 


        {% endblock %}
