{% extends 'base.html.twig' %}


{% block title %}Admin Interface{% endblock %}

{% block body %}

    {% for user in users %}
        <div>
                <a href="#"> {{ user.fname }} </a>
        </div>
    {% endfor %}
{% endblock %}